.gradient-1{
    background: rgb(4,228,120);
background: linear-gradient(90deg, rgba(4,228,120,1) 0%, rgba(0,255,247,1) 93%);
}

.gradient-2{
    background: rgb(222,5,255);
    background: linear-gradient(90deg, rgba(222,5,255,1) 0%, rgba(0,134,255,1) 85%);
}

.gradient-3{
    background: rgb(166,41,255);
    background: linear-gradient(90deg, rgba(166,41,255,1) 21%, rgba(255,83,83,1) 100%);
}

.header-grad{
    background: rgb(41,182,255);
background: linear-gradient(90deg, rgba(41,182,255,1) 21%, rgba(226,0,255,1) 100%);
}

.header-grad-text{
    background: rgb(41,182,255);
    background: linear-gradient(90deg, rgba(41,182,255,1) 21%, rgba(226,0,255,1) 100%);
    }